<%= form_for(surveyset) do |f| %>
  <% if surveyset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surveyset.errors.count, "error") %> prohibited this surveyset from being saved:</h2>

      <ul>
      <% surveyset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :license %>
    <%= f.text_area :license %>
  </div>

  <div class="field">
    <%= f.label :fees %>
    <%= f.text_area :fees %>
  </div>

  <div class="field">
    <%= f.label :intervals %>
    <%= f.text_area :intervals %>
  </div>

  <div class="field">
    <%= f.label :scoring %>
    <%= f.text_area :scoring %>
  </div>

  <div class="field">
    <%= f.label :link_to_questions %>
    <%= f.text_area :link_to_questions %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :number_of_questions %>
    <%= f.text_field :number_of_questions %>
  </div>

  <div class="field">
    <%= f.label :time_to_complete %>
    <%= f.text_field :time_to_complete %>
  </div>

  <div class="field">
    <%= f.label :completion_rate %>
    <%= f.text_field :completion_rate %>
  </div>

  <div class="field">
    <%= f.label :condition_type %>
    <%= f.text_area :condition_type %>
  </div>

  <div class="field">
    <%= f.label :care_plans %>
    <%= f.text_area :care_plans %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
