<div class="center">
  <h1>
    HealthLoop PROMs Library
  </h1>

</div>

<!-- Filters -->
<section id="choose">
  <h4 id="filter_instruction">
    Filter from <%= Surveyset.count %> PROMs by clicking on the below
  </h4>



  <div class="categories">
    <% Surveyset.distinct(:category).order(:category).pluck(:category).each do |category| %>
        <span class="filters"><%= category %></span>
    <% end %>
  </div>
  <div id="clear_filter">Clear Filter</div>



</section>


<div class="clear"></div>

  <div class="surveysets">
    <% @surveysets.order(:name).each do |surveyset| %>


        <div class="prom">
          <span class="prom_name"><%= surveyset.name %> </span>
          <span class="small_category"><%= surveyset.category %> </span>
          <br>
          <a href="#" class="expand">Show more</a>

          <section class="more_info">
            <table>
              <head>
                <title>HTML Tables</title>
              </head>
              <body>
              <tr>
                <td id="license">
                    <span class="teeny">License Required: </span>
                    <%= surveyset.license %>
                </td>
                <td id="number_of_questions">
                    <span class="teeny"># of Questions: </span>
                    <%= surveyset.number_of_questions %>
                </td>
                <td id="completion_rate">
                  <span class="teeny">Completion Time: </span>
                    <%= surveyset.time_to_complete %>
                </td>
              </tr>
            </table>

            <p id="full_name" class="box">
              <span class="biggish">Full Name</span><br>
              <%= surveyset.full_name %>
            </p>

            <p id="description" class="box">
              <span class="biggish">Description</span><br>
              <%= surveyset.description %>
            </p>

            <p id="fees" class="box">
              <span class="biggish">Fees</span><br>
              <%= surveyset.fees %>
            </p>

            <p id="intervals" class="box">
              <span class="biggish">Intervals</span><br>
              <%= surveyset.intervals %>
            </p>

            <p id="scoring" class="box">
              <span class="biggish">Scoring</span><br>
              <%= surveyset.scoring %>
            </p>

            <p id="completion_rate" class="box">
              <span class="biggish">Completion Requirements for Scoring</span><br>
              <%= surveyset.completion_rate %>
            </p>

            <p id="condition_type" class="box">
              <span class="biggish">Procedure or Conditions</span><br>
              <%= surveyset.condition_type %>
            </p>

            <!-- <p id="care_plans" class="box">
              Care Plans: <%= surveyset.care_plans %>
            </p> -->

            <p id="link_to_questions" class="btn-primary btn">
              <a href=<%= surveyset.link_to_questions %> target = "_blank">SEE QUESTIONS</a>
            </p>

          </section>

        </div>

        <!-- HIDE
        <td><%= link_to 'Show', surveyset %></td>
        <td><%= link_to 'Edit', edit_surveyset_path(surveyset) %></td>
        <td><%= link_to 'Destroy', surveyset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%= link_to 'New Surveyset', new_surveyset_path %> -->
      </div>
    <% end %>
