<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @surveyset.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @surveyset.full_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @surveyset.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @surveyset.description %>
</p>

<p>
  <strong>License:</strong>
  <%= @surveyset.license %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @surveyset.fees %>
</p>

<p>
  <strong>Intervals:</strong>
  <%= @surveyset.intervals %>
</p>

<p>
  <strong>Scoring:</strong>
  <%= @surveyset.scoring %>
</p>

<p>
  <strong>Link to questions:</strong>
  <%= @surveyset.link_to_questions %>
</p>


<p>
  <strong>Number of questions:</strong>
  <%= @surveyset.number_of_questions %>
</p>

<p>
  <strong>Time to complete:</strong>
  <%= @surveyset.time_to_complete %>
</p>

<p>
  <strong>Completion rate:</strong>
  <%= @surveyset.completion_rate %>
</p>

<p>
  <strong>Condition type:</strong>
  <%= @surveyset.condition_type %>
</p>

<p>
  <strong>Care plans:</strong>
  <%= @surveyset.care_plans %>
</p>

<p>
  <strong>User:</strong>
  <%= @surveyset.user_id %>
</p>

<%= link_to 'Edit', edit_surveyset_path(@surveyset) %> |
<%= link_to 'Back', surveysets_path %>
