//STYLES FOR CATEGORY filters

#choose {
  border: 1px solid black;
  background-color: black;
  opacity: .7;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3%;
  display: visible;
}

#filter_instruction {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 3%;
  color: white;
}

.categories {
  margin: 0 auto;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.filters {
  float: left;
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 2%;
  padding: 1%;
  background-color: #28e084;
  opacity: 0.5;
  color: black;
}

.filters:hover {
  opacity: 0.6;
}

.filers:active {
  opacity: 1;
}

.clear {
  clear: both;
}

#clear_filter {
  clear: both;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
  width: 20%;
  border: 1px solid black;
  border-radius: 2px;
  padding: 1%;
  background-color: grey;
  opacity: 0.65;
  color: white;
}

#clear_filter:hover {
  opacity: 0.8;
}

#clear_filter:active {
  opacity: 1;
}
