// Place all the styles related to the Surveysets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//pretty proms display
.category {
  font-size: 120%;
  font-weight: bold;
}

.prom {
  border-radius: 3px;
  box-shadow: 0 1px 3px #DDD;
  padding: 10px;
  background-color: #D7E4F5;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.prom_name {
  font-size: 140%;
}

.small_category {
  float: right;
  font-size: 80%;
  border: 1px solid black;
  border-radius: 2px;
  background-color: black;
  opacity: .8;
  color: white;
  padding: 1%;
}

.expand {
  font-size: 70%;
  color: #666;
}

.more_info {
  display: none;
  background-color: white;
}

//survey data header row

.teeny {
  font-weight: normal;
}

tr {
  background-color: black;
  opacity: 0.7;
  box-shadow: 0 1px 3px #DDD;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 2% 2% 2% 2%;
}

td {
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding-top: 1%;
}

td#license {
  color: red;
  width: 33%;
}

td#number_of_questions {
  color: white;
  opacity: .8;
  width: 33%;
}

td#completion_rate {
  color: white;
  opacity: .8;
  width: 33%;
}

//survey data other stuff
.biggish {
  font-weight: bold;
}


//link to questions styles

#link_to_questions {
  width: 40%;
  margin-top: 0;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
}

#link_to_questions a {
  color: white;
  text-decoration: none;
}

#link_to_questions a:hover {
  text-decoration: none;
  background-color: #286090;
}

#link_to_questions a:visited {
}
