<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",  'http://healthloop.com/about/' %></li>
      <li><%= link_to "Contact", 'http://healthloop.com/contact-us/' %></li>
      <li><%= link_to "News", 'http://healthloop.com/press/' %></li>
    </ul>
  </nav>
</footer>
