<header class="top-nav navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <!-- <%= link_to "healthloop.png", "healthloop.png", id: "logo" %> -->
        <%= image_tag("healthloop.png", :alt => "HealthLoop", :id => "hl_logo") %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Log in", '#' %></li> -->
      </ul>
    </nav>
  </div>
</header>
